.gradient-custom-3 {
  background: linear-gradient(to right, #0d6176, #000000fe);
  min-height: 100vh;
}

/* Contenedor principal que rodea el formulario y el logo */
.main-container {
  display: flex;
  border: 2px solid ;
  border-radius: 15px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Contenedor del formulario */
.form-container {
  padding: 20px;
  width: 50%;
  background-color: #ffffff;
}

/* Contenedor del logo */
.logo-container {
  width: 50%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 80%;
  max-height: 350px;
  object-fit: contain;
}

/* Botón de iniciar */
.gradient-custom-4 {
  background-color: #28a745; 
  color: white;
  border-radius: 20px; 
  padding: 10px 20px; 
  transition: all 0.2s ease-in-out;
}

.gradient-custom-4:hover {
  background-color: #218838; 
  color: white;
  border-radius: 20px; 
  box-shadow: 0 0 15px rgb(26, 110, 26),
  0 0 45px rgb(26, 110, 26),
  0 0 75px rgb(26, 110, 26),
  0 0 115px rgb(26, 110, 26);
}


/* Enlaces del registro y recuperar clave */
.enlace_registro, .enlace_olvidar_clave {
  text-decoration: none;
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .main-container {
      flex-direction: column-reverse; /* Cambia a column para que el logo se muestre arriba */
  }

  .logo-container, .form-container {
      width: 100%;
  }

  .logo-img {
      width: 50%;
  }
}
