.gradient-custom-3 {
  background: linear-gradient(to right, #0fc3f0, #000000fe);
  min-height: 100vh;
}

.logo-container { /* Fondo negro alrededor del logo */
  padding: 20px;
  border-radius: 15px;
}

.logo-img {
  width: 500px;
  max-height: 150px;
  object-fit: contain;
}

.form-container {
  padding: 20px;
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.gradient-custom-4 {
  background: linear-gradient(to right, #37a2b8, #012729);
  color: white;
  border: none;
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.gradient-custom-4:hover {
  background-color: #173e9b;
  color: white;
  border-radius: 20px;
}

.enlace_registro, .enlace_olvidar_clave {
  text-decoration: none;
  font-size: 0.9rem;
}
@media (max-width: 400px) {
  .main-container {
      flex-direction: column-reverse; /* Cambia a column para que el logo se muestre arriba */
  }

  .logo-container, .form-container {
      width: 97%;
  }

  .logo-img {
      width: 90%;
  }
}
