.gradient-custom-3 {
  background: linear-gradient(to right, #21d685, #0ae8e8); /* Negro a violeta medio */
}

  .card{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .error-message {
    display: none;
    color: red; 
  }
  .gradient-custom-4 {
    background-color: #28a3a7; 
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    transition: all 0.2s ease-in-out;
}

.gradient-custom-4:hover {
    background-color: #218838; 
    color: white;
    border-radius: 20px; 
    
}

